<!DOCTYPE html>
<html>

<head th:replace="Supplier/Layout/supplier_layout :: cssSupplier">
	
</head>

<body>
    <div th:replace="Supplier/Layout/supplier_layout :: sidebarSupplier"></div>
    <div id="main">
        <nav th:replace="Supplier/Layout/supplier_layout :: navbarSupplier"></nav>
        
        them code o day 
        
        <footer th:replace="Supplier/Layout/supplier_layout :: footerSupplier"></footer>
    </div>

    <div th:replace="Supplier/Layout/supplier_layout :: scriptSupplier"></div>


</body>

</html>