<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Supplier Recover Password</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="shortcut icon" href="/images/logo/favicon.ico" type="images/x-icon">

</head>

<body>

    <div class="bodycontent">
        <div class="container" id="container" style="min-height: 560px;">
            <a href="/Supplier/Login"><i class="fa-solid fa-arrow-left" style=" top: 30px;left: 20px;z-index: 1000;position: absolute;" aria-hidden="true"></i></a>

            <div class="form-container sign-in-container">
                <form action="#" class="loginForm" id="signInForm">
                    <h1>Forgot Password</h1>
                    <div class="social-container">
    
                    </div>
                    <span>Recover Password If You Forget</span>
                    <div style="border-radius: 3px;height: 32px;background-color: #f8d7da;border-color: #f5c2c7;margin-top: 12px;width: 111%;display: none;color: #842029;"
                        id="alertLogin">
                        <span style="padding-left: 2px;height: 28px;font-size: 13px;width: 90%;line-height: 30px;">The
                            username or password is incorrect. </span>
                        <span style="font-size: 22px;line-height: 33px;width: 5%;cursor: pointer;" class="closebtn"
                            id="closeAlertLogin">×</span>
                    </div>
    
                    <input type="text" placeholder="Email Address" style="width: 111%;margin-top: 20px;" minlength="8"
                        maxlength="50" id="email" autocomplete="off" class="validateEmail"/>
                    <div class="valiItem" style="width: 109%;">
                        <span id="msgEmail" style="color: red;" data-validate="false"></span>
                    </div>
                    
                    <button id="btnSignIn">Sign In</button>
                </form>
            </div>
            
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-right">
                        <h1>Forgot Password?</h1>
                        <p>Don't worry about it, just enter your email and follow the instructions</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://kit.fontawesome.com/26c19c3070.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"
        integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="/js/errorFieldCheck.js"></script>
    
    <!-- ================= Script Validate Fields ===================  -->
    <script src="/supplier/js/Validation/validateFields.js"></script>

    <script>
        let btnSignIn = document.getElementById("btnSignIn");
        let email = document.getElementById("email");
        let msgEmail = document.getElementById("msgEmail");


        btnSignIn.addEventListener("click", () => {
            if(!email.checkValidity()) {
                msgEmail.innerHTML = "Please enter a valid email";
            }else{
            	$.ajax({
                    type : "GET",
                    contentType : "application/json",
                    url : "/Supplier/Recover/sendMailRecoverPassword",
                    data: {
                        email: email.value,
                    },
                    dataType : 'json',
                    success : function(data) {
                        msgEmail.innerHTML = data.msgRecover;
                    },
                    error : function(e) {
                        console.log("ERROR: ", e);
                    }
                });
            }
        })
    </script>
</body>

</html>