<!DOCTYPE html>
<html>

<head th:replace="Admin/Layout/admin_layout :: cssAdmin">

</head>
<link rel="stylesheet" href="/admin/vendors/simple-datatables/style.css">

<body>
	<div th:replace="Admin/Layout/admin_layout :: sidebarAdmin"></div>
	<div id="main">
		<nav th:replace="Admin/Layout/admin_layout :: navbarAdmin"></nav>
		<div class="main-content container-fluid">
			<div class="page-title">
				<div class="row">
					<div class="col-12 col-md-6 order-md-1 order-last">
						<h3>Revenue Management</h3>
					</div>
					<div class="col-12 col-md-6 order-md-2 order-first">
						<nav aria-label="breadcrumb" class='breadcrumb-header'>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="/Admin/dashboard">Dashboard</a></li>
								<li class="breadcrumb-item active" aria-current="page">Revenue Management</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
			<section class="section">
				<div class="card">
					<div class="card-header">
						<div id="formSelectMonth" class="col-md-6 mb-4">
							<div class="input-group mb-3">
								<label class="input-group-text" for="inputGroupSelect01">Months</label>
								<select class="form-select" id="selectMonth">
									<option value="0" selected>Choose...</option>
									<option value="1">Jan</option>
									<option value="2">Feb</option>
									<option value="3">Mar</option>
									<option value="4">Apr</option>
									<option value="5">May</option>
									<option value="6">Jun</option>
									<option value="7">Jul</option>
									<option value="8">Aug</option>
									<option value="9">Sep</option>
									<option value="10">Oct</option>
									<option value="11">Nov</option>
									<option value="12">Dec</option>
								</select>
							</div>
						</div>
						<div id="formSelectYear" class="col-md-6 mb-4">
							<div class="input-group mb-3">
								<label class="input-group-text" for="inputGroupSelect01">Years</label>
								<select class="form-select" id="selectYear">
									<option value="0" selected>Choose...</option>
									<option value="2024">2024</option>
									<option value="2025">2025</option>
								</select>
							</div>
						</div>
						<div class="buttons">
							<button id="printPdf" class="btn btn-primary">Print PDF</button>
							<button id="printExcel" class="btn btn-success">Print Excel</a>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-body">
						<div id="componentChart">
							<h4 class="card-title" id="nameRevenue">Revenue by year 2024</h4>
							<div class="card-body">
								<canvas id="bar"></canvas>
							</div>
						</div>
						<table class='table table-striped' id="table1">
							<thead>
								<tr>
									<th>Invoice</th>
									<th>Customer Name</th>
									<th>Address</th>
									<th>Phone</th>
									<th>OrderDate</th>
									<th>Quantity</th>
									<th>Total Orders</th>
									<th>Profits</th>
								</tr>
							</thead>
							<tbody id="tBodyData">
								<th:block th:each="item: ${lsRevenue}">
									<tr>
										<td th:text="${item.codeInvoice}"></td>
										<td th:text="${item.userName}"></td>
										<td th:text="${item.address}"></td>
										<td th:text="${item.userPhone}"></td>
										<td th:text="${item.createDate}"></td>
										<td th:text="${item.quantity}"></td>
										<td th:text="${item.totalPrice}"></td>
										<td th:text="${item.profitsAdmin}"></td>
									</tr>
								</th:block>
							</tbody>
						</table>
					</div>
				</div>
			</section>
		</div>
		<footer th:replace="Admin/Layout/admin_layout :: footerAdmin"></footer>
	</div>

	<div th:replace="Admin/Layout/admin_layout :: scriptAdmin"></div>

	<script src="/admin/vendors/simple-datatables/simple-datatables.js"></script>
	<script src="/admin/js/vendors.js"></script>
	<script src="/admin/vendors/chartjs/Chart.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script src="/admin/js/pages/ui-chartjs.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.3.js"></script>


	<script th:inline="javascript">
		//const labels = Utils.months({count: 7});
		const data = {
			//labels: labels,
			datasets: [{
				label: 'My Revenue ($)',
				//data: values,
				backgroundColor: [
					'rgba(255, 99, 132, 0.2)',
					'rgba(255, 159, 64, 0.2)',
					'rgba(255, 205, 86, 0.2)',
					'rgba(75, 192, 192, 0.2)',
					'rgba(54, 162, 235, 0.2)',
					'rgba(153, 102, 255, 0.2)',
					'rgba(201, 203, 207, 0.2)'
				],
				borderColor: [
					'rgb(255, 99, 132)',
					'rgb(255, 159, 64)',
					'rgb(255, 205, 86)',
					'rgb(75, 192, 192)',
					'rgb(54, 162, 235)',
					'rgb(153, 102, 255)',
					'rgb(201, 203, 207)'
				],
				borderWidth: 1,
				parsing: {
					xAxisKey: 'year',
					yAxisKey: 'financials.cost'
				},
			}]
		};
		const config = {
			type: 'bar',
			data: data,
			options: {
				scales: {
					y: {
						beginAtZero: true
					}
				}
			},
		};
		const myChart = new Chart(document.getElementById('bar'), config);

		/*<![CDATA[*/
		var theList = /*[[${chartData}]]*/ "";
		for (i = 0; i < theList.length; i++) {
			data.labels[i] = theList[i].createDate;
			myChart.data.datasets[0].data[i] = theList[i].profitsAdmin;
		}
		/*]]>*/

		/*-------------------------------------------------------------*/
		$("#selectMonth").change(function (e) {
			e.preventDefault();
			$.ajax({
				cache: false,
				data: {
					month: $('#selectMonth').val(),
					year: $('#selectYear').val()
				},
				url: "/Admin/revenue-management/option",
			}).done(function (data) {
				$('#tBodyData').html(data);
			});
			//
			$.ajax({
				cache: false,
				data: {
					month: $('#selectMonth').val(),
					year: $('#selectYear').val()
				},
				url: "/Admin/revenue-management/chart",
			}).done(function (data) {
				$('#componentChart').html(data);
			});

		});

		$("#selectYear").change(function (e) {
			e.preventDefault();
			$.ajax({
				cache: false,
				data: {
					month: $('#selectMonth').val(),
					year: $('#selectYear').val()
				},
				url: "/Admin/revenue-management/option",
			}).done(function (data) {
				$('#tBodyData').html(data);
			});
			//
			$.ajax({
				cache: false,
				data: {
					month: $('#selectMonth').val(),
					year: $('#selectYear').val()
				},
				url: "/Admin/revenue-management/chart",
			}).done(function (data) {
				$('#componentChart').html(data);
			});

		});



		$('#printExcel').on('click', function (e) {
			e.preventDefault();
			$.ajax({
				cache: false,
				data: {
					Month: $("#selectMonth").val(),
					Years: $("#selectYear").val()
				},
				url: "/Admin/revenue-management/checkDataBeforeOutput",
			}).done(function (data) {
				if (data == true) {
					startOutputExcel();
				} else {
					alert("No Corresponding Data Exists");
				}
			});
		});

		$('#printPdf').on('click', function (e) {
			e.preventDefault();
			$.ajax({
				cache: false,
				data: {
					Month: $("#selectMonth").val(),
					Years: $("#selectYear").val()
				},
				url: "/Admin/revenue-management/checkDataBeforeOutputPDF",
			}).done(function (data) {
				if (data == true) {
					startOutputPDF();
				} else {
					alert("No Corresponding Data Exists");
				}
			});
		});

		function startOutputExcel() {
			location.href = "http://localhost:8080/Admin/revenue-management/outputDataWorkExcel?Month=" + $("#selectMonth").val() + '&Years=' + $("#selectYear").val();
		}

		function startOutputPDF() {
			var urlPDF = "http://localhost:8080/Admin/revenue-management/outputDataWorkPDF?Month=" + $("#selectMonth").val() + '&Years=' + $("#selectYear").val();
			window.open(urlPDF);
		}
	</script>
</body>

</html>