<table class='table table-striped' id="table1">
	<thead>
		<tr>
			<th>No.</th>
			<th>Title</th>
			<th>Create Date</th>
			<th>Status</th>
			<th>Products Of Category</th>
		</tr>
	</thead>
	<tbody>
		<th:block th:each="item,iter : ${listCate}">
			<tr>
				<td th:text="${iter.index+1}"></td>
				<td hidden th:text="${item.id}"></td>
				<td th:text="${item.title}"></td>
				<td th:text="${item.createDate}"></td>
				<td th:switch="${item.isActive}">
					<th:block th:case="true">
						<button type="button" class="btn btn-outline-success" data-bs-toggle="modal" id="btnEdit"
							data-bs-target="#defaultEdit">
							Edit
						</button>
						<button type="button" id="btnDeac" class="btn btn-outline-danger" data-bs-toggle="modal"
							data-bs-target="#animation">
							Disactive
						</button>
						<div class="modal fade text-left" id="warning" tabindex="-1" aria-labelledby="myModalLabel140"
							aria-hidden="true" style="display: none;">
							<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
								<div class="modal-content">
									<div class="modal-header bg-warning">
										<h5 class="modal-title white" id="myModalLabel140">
											Cannot be deactivated</h5>
										<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
												viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
												stroke-linecap="round" stroke-linejoin="round"
												class="feather feather-x">
												<line x1="18" y1="6" x2="6" y2="18"></line>
												<line x1="6" y1="6" x2="18" y2="18"></line>
											</svg>
										</button>
									</div>
									<div class="modal-body">
										There are products related to this category.
										Currently
										cannot be deactivated!
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
											<i class="bx bx-x d-block d-sm-none"></i>
											<span class="d-none d-sm-block">Close</span>
										</button>
									</div>
								</div>
							</div>
						</div>
					</th:block>
					<button th:case="false" id="btnAct" type="button" class="btn btn-outline-primary"
						data-bs-toggle="modal" data-bs-target="#animation">
						Active
					</button>
				</td>
				<td>
					<button type="button" class="btn btn-primary" id="prodOfCate" data-bs-toggle="modal"
						data-bs-target="#modalProdOfCate">
						Details
					</button>
				</td>
			</tr>
		</th:block>
	</tbody>
</table>

<script th:inline="javascript">
		$("#table1").on('click', '#prodOfCate', function () {
			var currentRow = $(this).closest("tr");
			var idCate = currentRow.find("td:eq(1)").text();
			var nameCate = currentRow.find("td:eq(2)").text();
			$.ajax({
				type: "Get",
				url: "/Admin/categories-management/prodOfCate",
				data: {
					idCate: idCate
				},
				success: function (res) {
					$("#nameCate").text(nameCate);
					$("#componentProdOfCate").html("");
					$("#componentProdOfCate").html(res);
					let tableProdOfCate = document.querySelector('#tableProdOfCate');
					let dataTableProdOfCate = new simpleDatatables.DataTable(tableProdOfCate);
				},
				error: function (response) {
					console.log(response.responseText);
				}
			});
		});

		/*<![CDATA[*/
		var titleCate = "";
		$("#table1").on('click', '#btnEdit', function () {
			var currentRow = $(this).closest("tr");

			var idCate = currentRow.find("td:eq(1)").text();
			titleCate = currentRow.find("td:eq(2)").text();
			var createDate = currentRow.find("td:eq(3)").text();
			$("#idEdit").val(idCate);
			$("#titleEdit").val(titleCate);
			$("#createDateEdit").val(createDate);

		});

		$("#table1").on('click', '#btnDeac', function () {
			var currentRow = $(this).closest("tr");

			var idCate = currentRow.find("td:eq(1)").text();

			var listProduct = /*[[${listProduct}]]*/"";
			const listChk = [];
			for (i = 0; i < listProduct.length; i++) {
				if (listProduct[i].isActive != 2) {
					if (listProduct[i].idcate == idCate) {
						listChk.push(listProduct[i].id);
					}
					//alert(listProduct[i].id + "-" + listProduct[i].idcate + ", " + idCate);
				}

			}
			if (listChk.length > 0) {
				//alert("Co product lien quan. Khong deactive duoc!");
				$('#animation').modal('hide');
				$('#warning').modal('show');
			} else {
				$("#idActive").val(idCate);
				$("#isActive").val(0);
				$("#myModalLabelBtn").text("Deactive Category");
				$("#messBtn").text("Are you sure you want to deactive this category?");
				$("#btnSubmit").text("Deactive");
			}


		});
		$("#table1").on('click', '#btnAct', function () {
			var currentRow = $(this).closest("tr");

			var idCate = currentRow.find("td:eq(1)").text();
			$("#idActive").val(idCate);
			$("#isActive").val(1);

			$("#myModalLabelBtn").text("Active Category");
			$("#messBtn").text("Are you sure you want to active this category?");
			$("#btnSubmit").text("Update");
		});
		/*]]>*/
</script>