<table class='table table-striped' id="table1">
	<thead>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Phone</th>
			<th>Request Date</th>
			<!--<th>Reply Date</th>-->
			<th>Option</th>
			<th>Products Of Supplier</th>
			<th>Orders Of Supplier</th>
		</tr>
	</thead>
	<tbody>
		<th:block th:each="item : ${listSupplier}">
			<tr>
				<td hidden th:text="${item.id}"></td>
				<td th:text="${item.title}"></td>
				<td th:id="'tdEmail'+${item.id}" th:text="${item.email}"></td>
				<td th:text="${item.phone}"></td>
				<td th:text="${item.requestDate}"></td>
				<!--<td th:text="${item.createDate}"></td>-->
				<td th:switch="${item.isActive}">
					<th:block th:case="'0'">
						<button type="button" id="btnAccept" class="btn btn-outline-success" data-bs-toggle="modal"
							data-bs-target="#animation">
							Accept
						</button>
						<button type="button" id="btnRefuse" class="btn btn-outline-danger" data-bs-toggle="modal"
							data-bs-target="#animation">
							Refuse
						</button>
					</th:block>

					<button th:case="'1'" id="btnDeac" type="button" class="btn btn-outline-danger"
						data-bs-toggle="modal" data-bs-target="#animation">
						Deactive
					</button>
					<span th:case="2" style="color: red;">Refused</span>
				</td>
				<td>
					<a th:href="'/Admin/supplier-management/prodOfSupp?idSupplier='+${item.id}+'&nameSupp='+${item.title}"
						class="btn btn-primary" id="btnProdOfSupp">Detail</a>
				</td>
				<th>
					<a th:href="'/Admin/supplier-management/ordersOfSupp?idSupplier='+${item.id}+'&nameSupp='+${item.title}"
						class="btn btn-primary" id="btnOrderOfSupp">Orders</a>
				</th>
			</tr>
		</th:block>
	</tbody>
</table>
<script th:inline="javascript">
	$(document).ready(function () {
			$("#table1").on('click', '#btnAccept', function () {
				// get the current row
				var currentRow = $(this).closest("tr");

				var idSupp = currentRow.find("td:eq(0)").text(); // get current row 1st TD value
				var emailSupp = currentRow.find("td:eq(2)").text();
				$("#id").val(idSupp);
				$("#isActive").val(1);
				$("#email").val(emailSupp);

				$("#myModalLabelBtn").text("Accept Supplier");
				$("#messBtn").text("Are you sure you want to accept this supplier?");
				$("#btnSubmit").text("Accept");

			});
			$("#table1").on('click', '#btnRefuse', function () {
				// get the current row
				var currentRow = $(this).closest("tr");

				var idSupp = currentRow.find("td:eq(0)").text(); // get current row 1st TD value
				var emailSupp = currentRow.find("td:eq(2)").text();
				$("#id").val(idSupp);
				$("#isActive").val(2);
				$("#email").val(emailSupp);

				$("#myModalLabelBtn").text("Refuse Supplier");
				$("#messBtn").text("Are you sure you want to refuse this supplier?");
				$("#btnSubmit").text("Refuse");

			});
			$("#table1").on('click', '#btnDeac', function () {
				// get the current row
				var currentRow = $(this).closest("tr");

				var idSupp = currentRow.find("td:eq(0)").text(); // get current row 1st TD value
				var emailSupp = currentRow.find("td:eq(2)").text();
				$("#id").val(idSupp);
				$("#isActive").val(2);
				$("#email").val(emailSupp);

				$("#myModalLabelBtn").text("Deactive Supplier");
				$("#messBtn").text("Are you sure you want to deactive this supplier?");
				$("#btnSubmit").text("Deactive");

			});
		$("#submitUpdate").click(function () {
			$.ajax({
				type: "Post",
				url: "/Admin/update-supplier",
				data: {
					id: $("#id").val(),
					isActive: $("#isActive").val(),
					email: $("#email").val(),
					isActiveFilter: $('#isActiveFilter').val(),
				},
				success: function (res) {
					$("#tableSupplier").html("");
					$("#tableSupplier").html(res);
					let tableSupp = document.querySelector('#table1');
					let dataTableSupp = new simpleDatatables.DataTable(tableSupp);
				},
				error: function (response) {
					console.log(response.responseText);
				}
			});
		});
	});
</script>