<table class='table table-striped' id="table1">
	<thead>
		<tr>
			<th>Title Supplier</th>
			<th>Title Product</th>
			<th>Category</th>
			<th>Description</th>
			<th>Price</th>
			<th>Sold</th>
			<th>Status</th>
			<th>Details</th>
		</tr>
	</thead>
	<tbody>
		<th:block th:each="item: ${lstProd}">
			<tr>
				<td hidden th:text="${item.id}"></td>
				<td th:text="${item.nameSupp}"></td>
				<td th:text="${item.title}"></td>
				<td th:text="${item.nameCate}"></td>
				<td th:text="${item.description}" name="descriptionProd" style="max-width: 250px;"></td>
				<td th:text="${item.price}"></td>
				<td th:text="${item.sold}"></td>
				<td th:switch="${item.isActive}">
					<th:block th:case="0">
						<button type="button" id="btnAccept" class="btn btn-outline-success" data-bs-toggle="modal"
							data-bs-target="#animationProd">
							Accept
						</button>
						<button type="button" id="btnRefuse" class="btn btn-outline-danger" data-bs-toggle="modal"
							data-bs-target="#animationProd">
							Refuse
						</button>
					</th:block>
					<button th:case="1" id="btnDeac" type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
						data-bs-target="#animationProd">
						Deactive
					</button>
					<span th:case="2" style="color: red;">Refused</span>
					<span th:case="3" style="color: red;">Deactived</span>
				</td>
				<td>
					<button class="btn btn-primary" id="btnDetailProd" data-bs-toggle="modal"
						data-bs-target="#modalDetailProd">Detail</button>
				</td>
				<td hidden th:text="${item.idSupplier}"></td>
			</tr>
		</th:block>
	</tbody>
</table>


<script>
	$(".dataTable-info").hide();
	$(document).ready(function () {

		$(".dataTable-info").hide();
			$("#table1").on('click', '#btnDetailProd', function () {
				var currentRow = $(this).closest("tr");
				var idProd = currentRow.find("td:eq(0)").text(); // get current row 1st TD value
				//var idSupp = currentRow.find("td:eq(9)").text();
				$.ajax({
					type: "Get",
					url: "/Admin/supplier-s-products/detail",  //remember change the controller to your owns.
					data: {
						//idSupplier: idSupp,
						idPro: idProd
					},
					success: function (res) {
						$("#componentTableDetailProd").html("");
						$("#componentTableDetailProd").html(res);
						$("#btnAcceptProdDetail").click(function () {
							//$("#idSupplier").val(idSupp);
							$("#id").val(idProd);
							$("#isActive").val(1);
							$("#myModalLabelBtn").text("Accept Product");
							$("#messBtn").text("Are you sure you want to accept this product?");
							$("#btnSubmit").text("Accept");

						});
						$("#btnRefuseProdDetail").click(function () {
							$("#id").val(idProd);
							//$("#idSupplier").val(idSupp);
							$("#isActive").val(2);
							$("#myModalLabelBtn").text("Refuse Product");
							$("#messBtn").text("Are you sure you want to refuse this product?");
							$("#btnSubmit").text("Refuse");

						});
						$("#btnDeacProdDetail").click(function () {
							$("#id").val(idProd);
							//$("#idSupplier").val(idSupp);
							$("#isActive").val(3);
							$("#myModalLabelBtn").text("Deactive Product");
							$("#messBtn").text("Are you sure you want to deactive this product?");
							$("#btnSubmit").text("Deactive");
						});
					},
					error: function (response) {
						console.log(response.responseText);
					}
				});

			});

		$("#table1").on('click', '#btnAccept', function () {
			// get the current row
			var currentRow = $(this).closest("tr");

			var idProd = currentRow.find("td:eq(0)").text(); // get current row 1st TD value

			$("#id").val(idProd);
			$("#isActive").val(1);
			$("#myModalLabelBtn").text("Accept Product");
			$("#messBtn").text("Are you sure you want to accept this product?");
			$("#btnSubmit").text("Accept");

		});
		$("#table1").on('click', '#btnRefuse', function () {
			// get the current row
			var currentRow = $(this).closest("tr");

			var idProd = currentRow.find("td:eq(0)").text(); // get current row 1st TD value
			$("#id").val(idProd);
			$("#isActive").val(2);
			$("#myModalLabelBtn").text("Refuse Product");
			$("#messBtn").text("Are you sure you want to refuse this product?");
			$("#btnSubmit").text("Refuse");

		});
		$("#table1").on('click', '#btnDeac', function () {
			// get the current row
			var currentRow = $(this).closest("tr");

			var idProd = currentRow.find("td:eq(0)").text(); // get current row 1st TD value
			$("#id").val(idProd);
			$("#isActive").val(2);
			$("#myModalLabelBtn").text("Deactive Product");
			$("#messBtn").text("Are you sure you want to deactive this product?");
			$("#btnSubmit").text("Deactive");

		});

	});
</script>