<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Yinka Enoch Adedokun">
    <meta name="description" content="Simple Forgot Password Page Using HTML and CSS">
    <link rel="shortcut icon" href="/images/logo/favicon.ico" type="images/x-icon">
    <title>New Password</title>
    <link rel="stylesheet" href="/css/cssRecoverP.css">
</head>

<body>
    <div class="row">
        <h1>New Password</h1>
        <input type="hidden" th:data-user="${idUser}" id="idUser">
        <h6 class="information-text">Enter your new Password</h6>
        <div class="form-group">
            <form action="">
                <input type="password" name="user_email" id="newPassword" autocomplete="off" maxlength="200"
                    minlength="8">
                <span class="txAlert" data-validate="false" id="msgNewPassword"></span>
                <p><label for="username">New Password</label></p>
                <input type="password" name="user_email" id="confirmPassword" autocomplete="off" maxlength="200"
                    minlength="8">
                <span class="txAlert" data-validate="false" id="msgConfirmPass"></span>
                <p><label for="username">Confirm Password</label></p>
                <button id="btnResetPassword">Submit</button>
            </form>
        </div>

    </div>

    <div class="container" id="modalAlert">
        <div class="cookiesContent" id="cookiesPopup">
            <button class="close" id="closeModal">✖</button>
            <!-- 44cd55 -->
            <img src="https://cdn-icons-png.flaticon.com/128/738/738884.png" alt="cookies-img" class="imgModal"
                id="iconModal" />
            <p class="msgModal" id="messageModal">We use cookies for improving user experience, analytics and marketing.
            </p>
            <button class="accept" id="btnAccept">OK</button>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.0.js"
        integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="/js/errorFieldCheck.js"></script>
    <script>
		
		window.addEventListener( "pageshow", function ( event ) {
		  var historyTraversal = event.persisted || 
		                         ( typeof window.performance != "undefined" && 
		                              window.performance.navigation.type === 2 );
		  if ( historyTraversal ) {
		    window.location.reload();
		  }
		});
				
        var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = window.location.search.substring(1),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
                }
            }
            return false;
        };

        //
        var modal = document.getElementById("modalAlert");
        var buttonAccept = document.getElementById("btnAccept");
        var codeRecover = getUrlParameter('codeRecover');
        //
        $('#newPassword').on('input blur', function (e) {
            e.preventDefault();
            var flagValidate = checkInputNewPassword();
            var lengthConfirm = $('#confirmPassword').val().length;
            //
            if (flagValidate && lengthConfirm != 0) {
                checkInputConfirmPassword();
            }
        })

        $('#confirmPassword').on('input blue', function (e) {
            e.preventDefault();
            checkInputConfirmPassword();
        })

        $('#btnResetPassword').on('click', function (e) {
            e.preventDefault();
            checkInputNewPassword();
            checkInputConfirmPassword();
            //
            var flagPassword = $('#msgNewPassword').attr('data-validate');
            var flagConfirm = $('#msgConfirmPass').attr('data-validate');
            if (flagPassword == "true" && flagConfirm == "true") {
                $.ajax({
                    async: false,
                    cache: false,
                    data: {
                        newPassword: $('#newPassword').val(),
                        keyRecover: codeRecover
                    },
                    url: "/Recover/ajax/changePasswordbyRecover",
                }).done(function (data) {
                    showModalDialog(data);
                });
            }
        })

        function checkInputNewPassword() {
            var valueOfItem = $('#newPassword').val();
            const minLength = $('#newPassword').attr('minlength');
            var lengthItem = valueOfItem.length;
            var flagValiate = true;
            $("#msgNewPassword").attr('data-validate', false);
            if (lengthItem == 0) {
                $("#msgNewPassword").text("Please Input This Fields");
                flagValiate = false;
            } else if (lengthItem < minLength) {
                $("#msgNewPassword").text(`Please Input At Least ${minLength} Chacracters`);
                flagValiate = false;
            } else {
                $("#msgNewPassword").text("");
                $("#msgNewPassword").attr('data-validate', true);
            }
            return flagValiate;
        }

        function checkInputConfirmPassword() {
            var valueOfItem = $('#confirmPassword').val();
            var valueOfPassword = $('#newPassword').val();
            const minLength = $('#confirmPassword').attr('minlength');
            var lengthItem = valueOfItem.length;
            $("#msgConfirmPass").attr('data-validate', false);
            if (lengthItem == 0) {
                $("#msgConfirmPass").text("Please Input This Fields");
            } else if (lengthItem < minLength) {
                $("#msgConfirmPass").text(`Please Input At Least ${minLength} Chacracters`);
            }
            else if (valueOfItem != valueOfPassword) {
                $("#msgConfirmPass").text(`Confirm Password Is Not Valid`);
            } else {
                $("#msgConfirmPass").text("");
                $("#msgConfirmPass").attr('data-validate', true);
            }
        }

        function showModalDialog(data) {
            buttonAccept.style.backgroundColor = "#ed6755";
            if (data == true) {
                $('#iconModal').attr('src', "/images/users/iconSuccess.png");
                $('#messageModal').text("Success Change New Password ");
                buttonAccept.style.backgroundColor = "#44cd55";

            } else {
                $('#iconModal').attr('src', "/images/users/errorIcon.png");
                $('#messageModal').text("There Are Some Errors Please Try Back");
            }
            $('#modalAlert').fadeIn(500);
            modal.style.display = "flex";
        }

        $('#closeModal').on('click', function (e) {
            e.preventDefault();
            eventUnDisplayModal();
        });

        $('#btnAccept').on('click', function (e) {
            e.preventDefault();
            eventUnDisplayModal();
        });

        window.onclick = function (e) {
            if (e.target == modal) {
                eventUnDisplayModal();
            }
        }

        function eventUnDisplayModal() {
            var idUser = $('#idUser').attr('data-user');
            if (parseInt(idUser) == 0) {
                window.location.assign("/UsersLogin");
            } else {
                window.location.assign("/");
            }
        }

    </script>
</body>

</html>