
.tbl-center td,th{
    text-align: center;
}

.tbl-img-wrapper{
    width: 120px;
    padding: 1rem 1rem !important;
}

.tbl-img-wrapper > img {
    width: 100%;
    max-height: 90%;
}

.tbl-status-check i{
    color: green;
    font-size: 18px
}

.tbl-status-uncheck i{
    color: red;
    font-size: 18px
}

.pre-img{
    width: 200px;
    margin-bottom: 20px;
    display: none;
}

.pre-img img{
    width: 100%;
}