<div class="d-flex justify-content-center align-items-center"
	style="    background: url(https://as2.ftcdn.net/v2/jpg/02/83/61/19/1000_F_283611997_CGFrNiJKH5PJZ4KRe7o9jah94ndUqWZt.jpg) no-repeat center center;
    background-color: #f9fce1;
    height: 700px;
    border-bottom-right-radius: 22px;
    border-top-right-radius: 22px;
    background-position-y: 29px;">
	<div class="col-9 d-flex flex-column">
		<div class="p-2" style="height: 68px;">
			<input type="password" name="" id="currentPassword" placeholder="Current Password" class="inpPassword"
				autocomplete="off" maxlength="30">
			<span class="msgCPass" id="msgCurrent"> </span>
		</div>
		<div class="p-2" style="height: 68px;">
			<input type="password" name="" id="newPassword" placeholder="New Password" class="inpPassword"
				autocomplete="off" maxlength="30">
			<span class="msgCPass" id="msgNew"> </span>
		</div>
		<div class="p-2" style="height: 68px;">
			<input type="password" name="" id="confirmPassword" placeholder="Confirm New Password" class="inpPassword"
				autocomplete="off" maxlength="30">
			<span class="msgCPass" id="msgConfirm"> </span>
		</div>
		<div class="p-2">
			<button class="buttonUpdateProfile" id="btnUpdatePass">Submit</button>
		</div>
	</div>
</div>
